@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.skCard h2 {
  color: black;
}

.loSuBtn {
  padding: 0.5rem;
  font-size: 1.3rem;
}

.loginBtn {
  color: rgb(1, 75, 1);
  font-weight: 700;
}

.signupBtn {
  background-color: green;
  border-radius: 1rem;
  color: #fff;
}

.loginBtn:hover {
  color: rgb(1, 75, 1);
}

.signupBtn:hover {
  color: #fff;
}